<!DOCTYPE html>
<html>
  <head> 
    <title>SParrow Careers</title>
    {% include 'bootstrap.html' %}
  </head>
  
  <body>
    {% include 'nav.html' %}
    {% include 'banner.html' %}
    <img class="img-fluid" id="banner" src="https://careers-website--toluwasejuwonlo.repl.co/static/banner.jpg">
    <div id="container">
      <h1 class="text-center">Sparrow Inc. Careers </h1>
      <div class="row" style="margin-bottom: 16px;">
        <div class="col-md-6">
          <p class="lead">At Sparrow Inc, our mission is to make information technology easily integrated into existing business structures. We believe that technology should be accessible and user-friendly, not intimidating or confusing. Our team is dedicated to providing innovative solutions that help businesses streamline their operations and improve their bottom line. We understand that every business is unique, which is why we take a personalized approach to each project we undertake. Our goal is to help businesses of all sizes and industries leverage the power of technology to achieve their goals. </p> 

          <p class="lead">Our vision is to become a leader in the information technology industry by providing top-notch solutions that help businesses succeed in today's fast-paced and ever-changing market. We believe that technology should be an asset, not a liability, and we work tirelessly to ensure that our clients are equipped with the tools they need to stay ahead of the competition. Our team consists of experienced professionals who are passionate about technology and are dedicated to providing exceptional service to our clients. We are committed to staying up-to-date with the latest trends and innovations in the industry to ensure that we are always providing the best possible solutions to our clients. At Sparrow Inc, we are committed to helping businesses thrive in the digital age.
          </p>
        </div>
      <div class="d-none d-md-block col-6">
        <img src="/static/people.jpg" style="height:320px; border-radius: 4px;">
      </div>
    </div>
      <h2 class="text-center mt-2 mb-4">Open Positions</h2>
      <div> 
        {% for job in jobs %}
          {% include 'jobitem.html' %}
        {% endfor %}
        </div>
          <div class="text-center mt-4">
            <a class="btn btn-primary btn-lg" href="mailto:support@sparrowinc.ca?subject=Inquiry&body=Dear%20Support%2C%0D%0A%0D%0AMy%20name%20is%3A%20%3Cinsert%20name%3E%0D%0A%0D%0AI%20need%20help%20with%3A%20%3Cinsert%20question%3E%0D%0A%0D%0AThank%20you%2C%0D%0ARegards.%0D%0A%0D%0A%0D%0A%0D%0A%0D%0A%0D%0A">Contact Us</a>
          </div>
      </div>
    </div>
    {% include 'footer.html' %}
  </body>
</html>