<!DOCTYPE html>
<html>
  <head>
    <title>Sparrow Careers</title>
  </head>
  <body>
    <h1>Sparrow Inc. Careers </h1>
    <img src="https://careers-website--toluwasejuwonlo.repl.co/static/banner.jpg" height="320">

    <h2>About Sparrow</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ac turpis egestas sed tempus urna. At ultrices mi tempus imperdiet nulla malesuada pellentesque elit eget. Morbi tristique senectus et netus et malesuada fames. Pharetra vel turpis nunc eget lorem dolor sed viverra ipsum. Amet porttitor eget dolor morbi non arcu risus. Vestibulum lectus mauris ultrices eros in cursus turpis. Felis donec et odio pellentesque diam volutpat commodo sed. Turpis massa tincidunt dui ut ornare lectus sit. Dui nunc mattis enim ut tellus elementum sagittis. Pretium lectus quam id leo in. Mauris commodo quis imperdiet massa tincidunt nunc pulvinar sapien et. Netus et malesuada fames ac. Eget aliquet nibh praesent tristique. Ac turpis egestas sed tempus urna et pharetra pharetra.

Ut consequat semper viverra nam. In est ante in nibh. Dictumst vestibulum rhoncus est pellentesque. Facilisis magna etiam tempor orci eu lobortis elementum nibh tellus. Lectus quam id leo in vitae. Purus non enim praesent elementum. Feugiat sed lectus vestibulum mattis ullamcorper velit. Et molestie ac feugiat sed lectus vestibulum mattis ullamcorper. Elit pellentesque habitant morbi tristique senectus et netus et. Semper viverra nam libero justo laoreet sit. Sed arcu non odio euismod lacinia at quis risus sed. Mattis nunc sed blandit libero. Libero volutpat sed cras ornare arcu dui vivamus arcu. Fames ac turpis egestas sed tempus urna et pharetra. Faucibus ornare suspendisse sed nisi. Consectetur purus ut faucibus pulvinar. Iaculis eu non diam phasellus. Risus in hendrerit gravida rutrum quisque non tellus orci ac. Fermentum iaculis eu non diam phasellus vestibulum.</p>

    <h2>Open Positions</h2>
    <p>TODO - Show the jobs here</p>
    <button>Contact Us</button>
  </body>
  </body>
</html>